@model MedicalOffice.Models.Appointment

@{
    ViewData["Title"] = "Add Appointment";
}


<h2>Add Appointment for Patient: @ViewData["PatientName"]</h2>
<hr />
<form asp-action="Add">
    <input type="hidden" name="PatientID" value="@Model.PatientID" />
    <input type="hidden" name="PatientName" value="@ViewData["PatientName"]" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" rows="5" cols="40" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraFee" class="control-label"></label>
                <input asp-for="ExtraFee" class="form-control" />
                <span asp-validation-for="ExtraFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentReasonID" class="control-label"></label>
                <select asp-for="AppointmentReasonID" class="form-control" asp-items="ViewBag.AppointmentReasonID">
                    <option value="">No Reason Given</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <select asp-for="DoctorID" class="form-control" asp-items="ViewBag.DoctorID">
                    <option value="">Select the Doctor</option>
                </select>
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
